curated-transformers>=0.1.0,<0.2.0
curated-tokenizers>=0.0.8,<0.1.0
spacy>=4.0.0.dev2,<5.0.0
thinc>=9.0.0.dev4,<9.1.0
srsly
torch>=1.12.0
mypy>=0.990,<0.1000; platform_machine != "aarch64" and python_version >= "3.7"

# Development dependencies
pytest
